:root {
    --color-text: #696969;
}

/* Menu bar */
.nav_hmenu{
　display: table;
　margin: 0 auto;
　padding: 0;
　width: 80%;
　text-align: center;
}
.hmenu_other{
　display: table-cell;
　min-width: 50px;
}
.hmenu_other a{
　display: block;
　width: 100%;
　padding: 10px 0;
　text-decoration: none;
　color: #555;
　font-weight: bold;
}
.current{
　background-color: #DEEBF7;
}
.current a{
　color: #555;
}
.hmenu_other:hover{
　background-color: #FFF2CC;
}
/* Menu bar */

/* Background */
.bgimage_home{
  background:url(../Image/Zion.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  min-height: auto;
  padding: 0px;
  z-index: 0;
  background-attachment: fixed;
}
.bgimage_aboutme{
    background:url(../Image/MtDana.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    min-height: auto;
    padding: 0px;
    z-index: 0;
    background-attachment: fixed;
}
.bgimage_presentation{
    background:url(../Image/Forrest_Gump.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%
    min-height: auto;
    padding: 0px;
    z-index: 0;
    background-attachment: fixed;
}
.bgimage_publication{
    background:url(../Image/Clouds_Rest.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    width: auto;
    min-height: auto;
    padding: 0px;
    z-index: 0;
    background-attachment: fixed;
}
.bgimage_earthquakes{
    background:url(../Image/Monument_Valley.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    min-height: auto;
    padding: 0px;
    z-index: 0;
    background-attachment: fixed;
}
/* Background */

/* Profile photo */
.index_photo{
  padding-right: 0%;
  padding-left: 5%;
}
.index_photo img{
  width: 30%;
  height: 30%;
  float: left;
}
.index_name{
  padding-top: 15%;
  text-align: right;
}
/* Profile photo */

/* Profile photo */
.aboutme_photo{
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10%;
}
.aboutme_photo img{
  width: 30%;
  height: 30%;
  float: left;
}
.aboutme_name{
  padding-top: 12.5%;
  text-align: right;
}
/* Profile photo */

.layer{
  width: 100%;
  height: auto;
  background: rgba(255,255,255,0.88);
}
.layer_index_home{
  width: 100%;
  height: auto;
  background: rgba(255,255,255,0.88);
}
.layer_index_pub{
  width: 100%;
  height: auto;
  background: rgba(255,255,255,0.88);
}
.Title{
  color: var(--color-text);
  font-family: 'Helvetica Neue';
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  padding: 150px;
  padding-top: 300px;
}
.divide{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #696969;
}

.BgTheme{
  background: #fff;
  height: 10vh;
  padding: 0px;
}
.Header1{
  color: var(--color-text);
  font-family: 'Helvetica Neue';
  font-size: 2.5em;
  font-weight: 200;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.Text{
  color: var(--color-text);
  font-family: 'Helvetica Neue';
  font-size: 1.2em;
  font-weight: 400;
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
.Text_list{
  color: var(--color-text);
  font-family: 'Helvetica Neue';
  font-size: 1em;
  font-weight: 400;
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
.Text_right{
  text-align: right;
}
.Text_left{
  text-align: left;
}
.Text_center{
  text-align: center;
}
.Text p {
  padding: 2px;
}
.Empty {
  margin-top: 1em;
}
.Bold{
  font-weight: 600;
}
.Indent{
  text-indent: 2em;
}
.List{
  padding-left: 2%;
}
.List li{
  padding-bottom: 2%;
}
.Author{
  font-weight: 600;
}
.TopPadding{
  padding-top: 20%;
}

/* Social media icons added on 1/28/2020*/
.Social{
  text-align: center;
}
/*
.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin:10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  overflow: hidden;
  position: relative;
}
*/
.btn{
  display: inline-block;
  color: var(--color-text);
  margin: 10px;
}
.btn i{
  line-height: 90px;
  font-size: 40px;
  transition: 0.2s;
}
.fa-github:hover {
  transform: scale(1.2);
  color: #6e5494;
}
.fa-twitter:hover {
  transform: scale(1.2);
  color: #55acee;
}
.fa-linkedin-in:hover {
  transform: scale(1.2);
  color: #007bb5;
}

/* Footer */
.footer{
  text-align: center;
  color: var(--color-text);
  font-family: 'Helvetica Neue';
  font-size: 12px;
  padding-bottom: 10px;
}
