::selection {
 background: lightgray;
}

/* color option */
h1 {color: gray}
h2 {color: red}

/* background color option */
h3 {background: lightgray; color: white}

/* for the Link tag */
/*
a {background: lightgrey; color: white}
a:hover {color: gray}
*/
/* for id */
#break {color: blue}

/* for class */
.Bullet {color: green}

/* top menu bar*/
.top_menu {padding-right: 40px; background: dimgray;
  width: auto; height: 5vw; position: fixed;
  top: 0; right:0; margin:0; width: 100%;
  z-index: 20}
.top_menu ul {text-align: right; line-height: 3vw}
.top_menu ul li {display: inline-block; width: auto; height: auto;
font-size: 1.8vw; padding-right: 15px; color: lightgray}
.top_menu ul li a {color: gray; text-decoration: none }
.top_menu ul li a:hover {color: white}

/* for inside of the class */
/* for underline */
#break #break2 {border-bottom: solid 1px black}

/* for text position */
#break > h4 {background: lightgray;
   font-size: 20px;
   text-align: center}
