:root {
    --color-text: #6D6968;
}

html, body {
  margin: 0;
  padding: 0;
}


/* Menu bar */
.nav_hmenu{
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}
.hmenu_other{
  display: table-cell;
  min-width: 50px;
}
.hmenu_other a{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #555;
  font-weight: bold;
}
.current{
  background-color: #DEEBF7;
}
.current a{
  color: #555;
}
.active {
  font-weight: bold;
}
.hmenu_other:hover{
  background-color: #FFF2CC;
}
/* Menu bar */

/* Background */
.bgimage_home{
  background:url(../Image/Zion.jpg) no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  padding: 0px;
  background-attachment: fixed;
}
.bgimage_aboutme{
    background:url(../Image/MtDana.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    min-height: auto;
    padding: 0px;
    z-index: 0;
    background-attachment: fixed;
}
.bgimage_presentation{
    background:url(../Image/Forrest_Gump.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    min-height: auto;
    padding: 0px;
    z-index: 0;
    background-attachment: fixed;
}
.bgimage_publication{
    background:url(../Image/Clouds_Rest.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    width: auto;
    min-height: auto;
    padding: 0px;
    z-index: 0;
    background-attachment: fixed;
}
.bgimage_earthquakes{
    background:url(../Image/Monument_Valley.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    min-height: auto;
    padding: 0px;
    z-index: 0;
    background-attachment: fixed;
}
/* Background */

/* Profile photo */
.index_photo{
  padding-top: 15%;
  padding-right: 0%;
  padding-left: 5%;
  width: 20%;
  height: 20%;
  float: left;
}

.index_name{
  padding-top: 20%;
  padding-bottom: 10%;
  text-align: right;
  color: var(--color-text);
  font-family: 'Helvetica Neue';
  font-size: 2.0em;
  font-weight: 200;
  padding-left: 5%;
}

/* Profile photo */
.aboutme_photo{
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10%;
}
.aboutme_photo img{
  width: 30%;
  height: 30%;
  float: left;
}
.aboutme_name{
  padding-top: 12.5%;
  text-align: right;
}
/* Profile photo */

.layer_home{
  min-height: 100vh;
  height: 100%;
  background: rgba(255,255,255,0.88);
}
.layer_aboutme{
  min-height: 100vh;
  max-height: 300vh;
  background: rgba(255,255,255,0.88);
}
.layer_publication_top{
  min-height: 100vh;
  height: 100vh;
  background: rgba(255,255,255,0.88);
}
.layer_publication{
  min-height: 100vh;
  max-height: 400vh;
  background: rgba(255,255,255,0.88);
}
.layer_presentation_top{
  min-height: 100vh;
  height: 100vh;
  background: rgba(255,255,255,0.88);
}
.layer_presentation{
  min-height: 100vh;
  max-height: 600vh;
  background: rgba(255,255,255,0.88);
}
.layer_index_home{
  background: rgba(255,255,255,0.88);
}
.layer_index_pub{
  background: rgba(255,255,255,0.88);
}
.Title{
  color: var(--color-text);
  font-family: 'Helvetica Neue';
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  padding: 150px;
  padding-top: 300px;
}
.divide{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #696969;
}

.BgTheme{
  background: #fff;
  height: 10vh;
  padding: 0px;
}
.Header1{
  color: var(--color-text);
  font-family: 'Helvetica Neue';
  font-size: 2.5em;
  font-weight: 200;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.Text{
  color: var(--color-text);
  font-family: 'Helvetica Neue';
  font-size: 1.1em;
  font-weight: 400;
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

.profile_text{
  color: var(--color-text);
  font-family: 'Helvetica Neue';
  font-size: 1.1em;
  font-weight: 400;
  padding-top: 15%;
  padding-left: 10%;
  padding-right: 10%;
}

.Affiliation{
  font-size: 1.2em;
}

.Thesis{
  display: inline;
  font-style: italic;
}
.Text_list{
  color: var(--color-text);
  font-family: 'Helvetica Neue';
  font-size: 1em;
  font-weight: 400;
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
.Text_right{
  text-align: right;
}
.Text_left{
  text-align: left;
}
.Text_center{
  text-align: center;
}
.Text p {
  padding: 2px;
}
.Empty {
  margin-top: 1em;
}
.Bold{
  font-weight: 600;
}
.Indent{
  text-indent: 2em;
}
.inline{
  display: inline;
}
.List{
  padding-left: 2%;
}
.List li{
  padding-bottom: 2%;
}
.Author{
  font-weight: 600;
}
.TopPadding{
  padding-top: 20%;
}

/* Social media icons added on 1/28/2020*/
.Social{
  text-align: right;
}
/*
.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin:10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  overflow: hidden;
  position: relative;
}
*/
.btn{
  display: inline-block;
  color: var(--color-text);
  margin: 10px;
}
.btn i{
  line-height: 90px;
  font-size: 40px;
  transition: 0.2s;
}
.fa-github:hover {
  transform: scale(1.2);
  color: #6e5494;
}
.fa-twitter:hover {
  transform: scale(1.2);
  color: #55acee;
}
.fa-linkedin-in:hover {
  transform: scale(1.2);
  color: #007bb5;
}

/* Footer */
.footer{
  text-align: center;
  color: var(--color-text);
  font-family: 'Helvetica Neue';
  font-size: 12px;
  padding-bottom: 10px;
}



.section_aboutme {
  max-height: 300vh;
  position: relative;
  overflow: hidden;
}

.section_publication_top {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.section_publication {
  max-height: 400vh;
  position: relative;
  overflow: hidden;
}

.section_presentation_top {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.section_presentation {
  max-height: 600vh;
  position: relative;
  overflow: hidden;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}